absl-py
amqp
appnope
asgiref
asttokens
astunparse
async-timeout
attrs
backcall
billiard
celery
certifi
cffi
charset-normalizer
click
click-didyoumean
click-plugins
click-repl
cloudinary
comm
contourpy
cryptography
cycler
debugpy
decorator
defusedxml
Django
django-cloudinary-storage
django-cors-headers
django-filter
django-templated-mail
djangorestframework
djangorestframework-simplejwt
djoser
executing
fastjsonschema
flatbuffers
fonttools
gast
google-pasta
grpcio
gunicorn
h5py
idna
imbalanced-learn
imblearn
ipykernel
ipython
jedi
joblib
joypy
jsonschema
jsonschema-specifications
jupyter_client
jupyter_core
keras
kiwisolver
kombu
libclang
Markdown
markdown-it-py
MarkupSafe
matplotlib
matplotlib-inline
mdurl
ml-dtypes
mysql-connector-python
namex
nbformat
nest-asyncio
numpy
oauthlib
opt_einsum
optree
packaging
pandas
parso
pexpect
pickleshare
pillow
platformdirs
plotly
prompt-toolkit
protobuf
psutil
psycopg2-binary
ptyprocess
pure-eval
pyarrow
pycparser
Pygments
PyJWT
pyparsing
python-dateutil
python-decouple
python3-openid
pytz
pyzmq
redis
referencing
requests
requests-oauthlib
rich
rpds-py
scikit-learn
scipy
seaborn
six
social-auth-app-django
social-auth-core
sqlparse
squarify
stack-data
tenacity
tensorboard
tensorboard-data-server
tensorflow
tensorflow-io-gcs-filesystem
termcolor
threadpoolctl
tornado
traitlets
typing_extensions
tzdata
urllib3
vine
wcwidth
Werkzeug
wrapt
yellowbrick